[submodule "thirdparty/vcpkg"]
	path = thirdparty/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "thirdparty/libmspack"]
	path = thirdparty/libmspack
	url = https://github.com/kyz/libmspack
[submodule "thirdparty/tiny-AES-c"]
	path = thirdparty/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "thirdparty/unordered_dense"]
	path = thirdparty/unordered_dense
	url = https://github.com/martinus/unordered_dense/
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL/
	branch = SDL2
[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers/
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator/
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk/
[submodule "thirdparty/concurrentqueue"]
	path = thirdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue/
[submodule "thirdparty/ddspp"]
	path = thirdparty/ddspp
	url = https://github.com/redorav/ddspp
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb/
[submodule "thirdparty/tomlplusplus"]
	path = thirdparty/tomlplusplus
	url = https://github.com/marzer/tomlplusplus/
